apiVersion: v1
kind: Service
metadata:
  name: webhook-service
  labels:
    control-plane: controller-manager
spec:
  ports:
    - port: 443
      targetPort: 9443
      protocol: TCP
      name: webhook-server
  selector:
    control-plane: controller-manager

