apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  labels:
    app.kubernetes.io/name: openbao-operator
    app.kubernetes.io/component: provisioner
    app.kubernetes.io/managed-by: kustomize
  name: openbao-operator-provisioner-leader-election-rolebinding
  namespace: system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: leader-election-role
subjects:
  - kind: ServiceAccount
    name: openbao-operator-provisioner
    namespace: system
